{
	"station":"station_name",
	"latitude":0.0,
	"longitude":0.0,
	"mqtt_server_name":"fossa.apaluba.com",
	"mqtt_port":8883,
	"mqtt_user":"mqtt_user",
	"mqtt_pass":"mqtt_pass",
	"tz":"",
	"wifi_ssid":"",
	"wifi_pass":""
}