const char* STATION_ID = "your_station_name";
const float LATITUDE          =  40.64 ;    // ** Beware this information is publically available use max 3 decimals 
const float LONGITUDE         =  -3.98 ;    // ** Beware this information is publically available use max 3 decimals 

const char* WIFI_SSID = "SSID";
const char* WIFI_PASSWORD = "password";

const char* MQTT_USER = "user";     // ask for user and password on the Telegram group
const char* MQTT_PASS = "password"; // https://t.me/joinchat/DmYSElZahiJGwHX6jCzB3Q 

const char* MQTT_SERVER = "fossa.apaluba.com"; // do not change this
const uint8_t MQTT_PORT = 8883